@model WebsiteAssignmentNew.Models.ContactModel
@{
    ViewBag.Title = "Index";
}

<h2 id="pageTitle">Contact Us</h2>

<div class="col-md-4-push-2">
    <img height="500" id="contactLogo" src="~/Content/Images/croppedLogo.png" />
</div>
@using (Html.BeginForm("Feedback", "Contact", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "error" })
    <p class="col-md-2-pull-2 col-form-label">
        @Html.LabelFor(c => c.Name)
    </p>
        <p class="col-md-push-2 col-form-label">
            @Html.TextBoxFor(c => c.Name)<span> (Required)</span>
        </p>

        <p class="col-md-2-pull-2 col-form-label">
            @Html.LabelFor(c => c.Email)
        </p>
        <p class="col-md-2-push-2 col-form-label">
            @Html.TextBoxFor(c => c.Email)<span> (Required)</span>
        </p>


        <p class="col-md-2-pull-2 col-form-label">
            @Html.LabelFor(c => c.Phone)
        </p>
        <p class="col-md-2-push-2 col-form-label">
            @Html.TextBoxFor(c => c.Phone)<span> (Optional)</span>
        </p>

        <p class="col-md-2-pull-2 col-form-label">
            @Html.LabelFor(c => c.Address)
        </p>
        <p class="col-md-2-push-2 col-form-label">
            @Html.TextBoxFor(c => c.Address)<span> (Optional)</span>
        </p>

        <p class="col-md-2-pull-2 col-form-label">
            @Html.LabelFor(c => c.Website)
        </p>
        <p class="col-md-2-push-2 col-form-label">
            @Html.TextBoxFor(c => c.Website)<span> (Optional)</span>
        </p>

        <p class="col-md-2-pull-2 col-form-label">
            @Html.LabelFor(c => c.Artist)
        </p>
        <p class="col-md-2-push-2 col-form-label">
            @Html.CheckBox("Are you an Artist?", false)<span> (Optional)</span>
        </p>



        <p class="col-md-2-pull-2 col-form-label">
            @Html.LabelFor(c => c.ArtistName)
        </p>
        <p class="col-md-2-push-2 col-form-label">
            @Html.TextBoxFor(c => c.ArtistName)<span> (Optional)</span>
        </p>



        <p class="col-md-2-pull-2 col-form-label">
            @Html.LabelFor(c => c.Comments)
        </p>

            <p class="col-md-2-pull-2 col-form-label">
                @Html.TextAreaFor(c => c.Comments, new { @rows = 4, @cols = 50 })
            </p>

            <div class="btn-group-lg col-form-label">
                <input type="submit" value="Submit" />              
                <input id="Reset1" type="reset" value="Clear" />
            </div>
}




<div id="google-maps">
    <h3>Should you wish to visit us, we are located here</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19091.158569521744!2d-6.2334757762430915!3d53.264545117550604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4867090b5444013d%3A0x2600c7a819bb0531!2sSandyford%2C+Dublin!5e0!3m2!1sen!2sie!4v1505147061690"
            width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>