@using WebsiteAssignmentNew.Models

@model IEnumerable<ContactModel>
@{
    ViewBag.Title = "ShowFeedback";
}
@section Logged{
    @if (Session["name"] == null || Session["name"].ToString() != "Staff")
    {
        Response.Redirect(Url.Action("Login", "User"));
    }
}
<h2>User Feedback</h2>
@ViewBag.Message
@foreach (ContactModel contact in Model)
{
    <p>
        @contact.Name<br />
        @contact.Email<br />
        @contact.Address<br />
        @contact.Phone<br />
        @contact.Website<br />
        @contact.Artist<br />
        @contact.ArtistName<br />
    </p>
    <p>@contact.Comments</p>
    <hr />
}
