@model WebsiteAssignmentNew.Models.UserModel
@{
    ViewBag.Title = "Register";
}


<div class="fade">
    <h2 id="pageTitle">Register</h2>
    <div class="col-md-4-push-2">
        <img height="500" id="contactLogo" src="~/Content/Images/croppedLogo.png" />
    </div>
    <div>
        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "error" })
           
            <p class="col-md-2-pull-2 col-form-label">
                @Html.LabelFor(u => u.UserName)
            </p>
            <p class="col-md-push-2 col-form-label">
                @Html.TextBoxFor(u => u.UserName)
            </p>
            <p class="col-md-2-pull-2 col-form-label">
                @Html.LabelFor(u => u.Email)
            </p>
            <p class="col-md-push-2 col-form-label">
                @Html.TextBoxFor(u => u.Email)
            </p>
            <p class="col-md-2-pull-2 col-form-label">
                @Html.LabelFor(u => u.FirstName)
            </p>
            <p class="col-md-push-2 col-form-label">
                @Html.TextBoxFor(u => u.FirstName)
            </p>
            <p class="col-md-2-pull-2 col-form-label">
                @Html.LabelFor(u => u.LastName)
            </p>
            <p class="col-md-push-2 col-form-label">
                @Html.TextBoxFor(u => u.LastName)
            </p>


            <p class="col-md-2-pull-2 col-form-label">
                @Html.LabelFor(u => u.Password)
            </p>
            <p class="col-md-push-2 col-form-label">
                @Html.PasswordFor(u => u.Password)
            </p>
            <p class="col-md-2-pull-2 col-form-label">
                @Html.LabelFor(u => u.ComparePassword)
            </p>
            <p class="col-md-push-2 col-form-label">
                @Html.PasswordFor(u => u.ComparePassword)
            </p>
            <p>
                <input id="Submit1" type="submit" value="Register" />
                <input id="Reset1" type="reset" value="Clear" />
            </p>
        }

    </div>
</div>